@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #9796f0, #fbc7d4);
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(19, 48, 73);
    font-size: 22px;
    font-family: 'Muli';
    /* height: 100vh; */
    margin: 0;
}

div {
    width: 700px;
    margin: 25px 0;
}

.task1,
.task2,
.task3 {
    border: 2px dashed rgb(82, 78, 78);
    padding: 0px 10px;
}

form {
    min-width: 500px;
    background: linear-gradient(to right, #b1aff1, #fad1db);
    border: 1px solid rgb(27, 27, 27);
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
    padding: 30px 50px;
    position: relative;
}

button {
    width: 100px;
    background-color: rgb(86, 123, 224);
    border-radius: 8px;
    border: 1px solid rgb(49, 121, 214);;
    color: #faf1f1;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    padding: 8px 16px;
    margin: 25px 10px; 
}

button:active {
    transform: scale(1.02);
}

input {
    background: linear-gradient(to right, #9796f0, #e2728e);
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 0.7);
    font-size: 18px;
    color: #ffffff;
    padding: 6px 12px;
    margin: 0; 
}

input:focus {
    outline: 1px solid #fff;
}

.list {
    list-style-type: none;
}

.send-btn {
    width: fit-content;
    margin: 0;
}

.svg1 {
    display: none;
    margin-right: 10px;
    /* border: 1px solid red; */
}
.svg2 {
    display: none;
    margin-right: 10px;
}

.list__item1 {}

.btnYes1 {}

.btnNo1 {}

.list__item2 {}

.btnYes2 {}

.btnNo2 {}

.list__item3 {}

.btnYes3 {}

.btnNo3 {}

.list__item4 {}

.btnYes4 {}

.btnNo4 {}

.list__item5 {}

.btnYes5 {}

.btnNo5 {}

.list__item6 {}

.btnYes6 {}

.btnNo6 {}